body{
    padding: 0 1rem;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.logo{
    padding: 10px 0 0 10px;
    height: 4rem;
    margin-bottom: 1rem;
}

nav{
    display: flex;
    gap: 1rem;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: red;
}

.search {
    display: flex;
    align-items: center;
    gap: .9rem;
}

.search input {
    padding: .3rem 1.5rem .3rem .5rem;
}

#search-icon {
    margin-left: -35px;
}

img.profile{
    width: 3rem;
    border-radius: 100px;
    margin-right: 0.5rem;
}

 /* Main */ 
 main{
    border: 1px solid red;
    padding: 1rem;
    aspect-ratio: 16/9;
    display: flex;
    align-items: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRljPZAo_WetnC7v3HpCrABnNccHTCxb0ab_g&s);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }

 .movie-info{
    display: flex;
    gap: 1rem;
    align-items: center;
 }

 .user-ratings {
    display: inline-block;
 }

 .user-rating i {
    color: red;
 }

 .maturity-rating{
    border: 1px solid black;
    border-radius: 4px;
    padding: .2rem;
 }

 .movie-description {
    width: 60%;
    line-height: 130%;
 }

 .movie-details {
    padding-left: 0;
    
 }

 .movie-details li{
    list-style-type: none;
    margin-bottom: .5rem;
 }

 .movie-details span{
    font-weight: bold;
    color: red;
 }

 .btn {
    border-radius: .5rem;
    background: red;
    color: white;
    display: inline-block;
    padding: .5rem 1rem;
 }

 .btn-lg{
    padding: .6rem 1rem;
 }

 .btn-md{
    padding: .5rem .9rem;
    font-size: .9em;
 }

 /* suggestion  */

 .suggestion-row{
    margin: 2rem auto;
    
 }

.suggestion-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggestion-title h2 {
    font-size: 1.3rem;
}

.suggestion-title a {
    text-decoration: none;
    color: black;
}

.suggestion-title a:hover{
    color: red;
}

.suggestion-item{
    border: 1px solid black;
    width: 25%;
    padding: .8rem;
    display: flex;
    align-items: flex-end;
    aspect-ratio: 16/9;
}

.suggestion-item-content{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.suggestion-item-content h3{
    margin: 0 .2rem;
}

.suggestion-content{
    display: flex;
    justify-content: space-between;
}

/* footer */
footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}

.copyright{
    margin-top: 1rem;
}

footer > div > p {
    margin-top: 0;
}

.social-media-links div {
    display: flex;
    gap: .5rem;
    padding-top: 1rem;
}

.fa-square-facebook{
    color: #1877F2;
}

.fa-square-youtube{
    color: red;
}


.app-store-links div {
    display: flex;
    gap: .5rem;
}

.app-store-links img {
    max-width: 100px;
}

footer nav a {
    color: red;
    text-decoration: none;
}

footer nav a:hover {
    color: black;
    text-decoration: line-through;
}

/* desktoptan mobile dogru */


@media screen and (max-width: 992px){
    header {
        flex-wrap: wrap;
        margin-bottom: 1rem;
        padding: .5rem;
    }

    header nav{
        margin: .5rem ;
        order:3;
        flex-grow: 1;
        justify-content: center;
    }
}

@media screen and (max-width: 768px){
    
}

@media screen and (max-width: 576px){
    body{
        padding: 0;
    }
    
    
    header {
        flex-wrap: wrap;
        margin-bottom: 1rem;
        padding: .5rem;
    }

    header nav{
        margin: .5rem ;
        order:3;
        flex-grow: 1;
        justify-content: center;
    }

    section {
        padding: 0 .5rem;
    }

    .suggestion-title h2 {
        font-size: 1.2rem;
    }

    footer {
        flex-wrap: wrap;
        padding: .5rem;
        justify-content: flex-start;
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 500px){
   header {
    flex-direction: column;
   }
}